<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title>{{title}}</title>
  </head>
  <body>
    <div id="title">My Profile
      <button id="goToBack" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
        </svg>        
      </button>
    </div>
    <div id="myProfile">
      <div id="profilePhoto">
        <form id="photoBox" action="/profile/image/{{user.user_id}}" method="post" enctype="multipart/form-data">
          {% if user.user_img %}
          <img id="photo" src="/images/{{user.user_img}}" />
          {% else %}
          <img id="photo" src="/images/lion.jpg" />
          {% endif %}
          <label id="changeBtn" for="changeInput"></label>
          <input class="hidden" id="changeInput" name="myPhoto" type="file" />
          <button class="hidden" id="myPhotoUp" type="submit"></button>
          <div id="nick">{{user.user_nick}}</div>
        </form>
      </div>
      <div id="profileBox">
        <form id="profileTel" action="/profile/{{user.user_id}}" method="post">
          <div>아이디 :{{user.user_id}}</div>
          <div>이름 :{{user.user_nm}}</div>
          <div class="changeInput">
            전화번호 :
            <div id="divTel">{{user.user_tel}}</div>
            <input id="inputTel" class="hidden" name="tel" type="text" />
          </div>
          <div>성별 :{{user.user_gender}}</div>
          <div class="changeInput">
            지역 :
            <div id="divAddr">{{user.user_addr}}</div>
            <input id="inputAddr" class="hidden" name="addr" type="text" />
          </div>
          <div id="btnBox">
            <button id="modify_af" class="hidden" type="submit">수정완료</button>
            <button id="modify_bf">수정</button>
            <button id="changePwBtn">PW 수정</button>
            <a id="withdrawBtn" href="/profile/{{user.user_id}}/withdraw"
              >회원탈퇴</a
            >
          </div>
        </form>
      </div>
    </div>
    <div id="listTitle">
      <button>내 글</button>
      <button>댓 글</button>
      <button>좋아요</button>
    </div>
    <div id="myList">
      {% if contents.length > 0 %}
        {% for item in contents %}
          {% if item.img.length > 0 %}
            {% for img in item.img %}
              <div class="myWriting">
                <img class="writingImg" src="/images/{{img.filename}}" />
                <div class="writingBox">
                  <div class="writingTitle">제목 : {{item.board_title}}</div>
                  <div class="writingContent">{{item.board_content}}</div>
                </div>
              </div>
            {% endfor %}
          {% else %}
              <div class="myWriting">
                <img class="writingImg" src="/images/lion.jpg" />
                <div class="writingBox">
                  <div class="writingTitle">제목 : {{item.board_title}}</div>
                  <div class="writingContent">{{item.board_content}}</div>
                </div>
              </div>
          {% endif %}
        {% endfor %}
      {% else %}
        <div>등록한 글이 없습니다.</div>
      {% endif %}
    </div>
  </body>
  <script src="/javascripts/profile.js"></script>
</html>