<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/searchInform.css" />
    <title>{{title}}</title>
</head>
<body>
    <button id="goToBack" type="button">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 15.75L3 12m0 0l3.75-3.75M3 12h18" />
        </svg>        
      </button>
    <div id="main">
        {% if id %}
            <span>가입된 아이디는 <span style="color:red; font-weight: bold;">{{id}}</span> 입니다.</span>
        {% elif pw %}
            <span>임시비밀번호는 <span style="color:red; font-weight: bold;">{{pw}}</span> 입니다.</span>
        {% endif %}
    </div>
    <script src="/javascripts/searchInform.js"></script>
</body>
</html>