<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/searchId.css" />
    <title>{{title}}</title>
</head>
<body>
    <div id="title">아이디 찾기</div>
    <div id="main">
        <div class="inputBox">이메일 <input type="text" placeholder="EMAIL" id="email" /></div>
        <div class="inputBox">이름 <input type="text" placeholder="NAME" id="name" /></div>
        <div id="btnBox">
            <button id="idBtn">ID찾기</button>
            <button id="pwBtn">PW찾기</button>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/searchId.js"></script>
</body>
</html>